<include file="Public/header" /> 
<div class="connect_box">
    <img src="{$TEMPLATE_PATH}img/about_ZSBg.png" class="about_zs" alt="联系我们背景装饰">
    <div class="content">
        <div class="connect_info">
            <div class="connect_left" id="map"></div>
            <div class="connect_right">
                <p class="connect_title">联系方式：</p>
                <ul>
                    <li class="no_left">
                        <a href="">
                        	<span class="icon iconfont icon-stroke_weixin"></span>
	                        <div class="tip weixin">
	                        	<img src="{$TEMPLATE_PATH}img/weixin_erweima.png" alt="微信二维码" width="120" />
	                        </div>
                        </a>
                        <p>微信联系</p>
                    </li>
                    <li>
                        <a href="">
                        	<span class="icon iconfont icon-dingyue"></span>
                        	<div class="tip dingyue">
	                        	<img src="{$TEMPLATE_PATH}img/dingyue_erweima.png" alt="微信二维码" width="120" />
	                        </div>
                        </a>
                        <p>订阅信息</p>
                        
                    </li>
                    <li>
                        <a href="">
                        	<span class="icon iconfont icon-stroke_weibo"></span>
                        	<div class="tip weibo">
	                        	<p>河北水木文化传播有限公司</p>
	                        </div>
                        </a>
                        <p>微博联系</p>
                        
                    </li>
                </ul>
                <p>电话／18931157738</p>
                <p>邮箱／shuimuwenhua@163.com</p>
                <p>QQ／1913854349</p>
                <p>地址／石家庄市裕华区大马庄园6号楼3单元1702</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5GtLwsjllAyjOpxCgaywPMcjDfCexAue"></script>
    <script type="text/javascript" src="{$TEMPLATE_PATH}js/map.js"></script>
    <include file="Public/footer" /> 