<include file="Public/header" /> 
<div class="about_box">
    <img src="{$TEMPLATE_PATH}img/about_ZSBg.png" class="about_zs" alt="关于我们背景装饰">
    <div class="content">
        <div class="com_info">
            <p class="video_title about_title"><span>公司</span>简介</p>
            <p class="com_infoText">／河北水木文化传播有限公司是专业从事影视广告、现代企业宣传片、专题</p>
            <p class="com_infoText">片、纪录片拍摄及制作的影视机构。公司秉承</p>
            <p class="com_infoText">“弱水三千，只取一木”</p>
            <p class="com_infoText">文化理念，以创意为引导，着眼于前卫视角，把握设计思想脉搏／</p>
            <p class="com_infoText">运用现代化的设计理念及精益求精的专业态度，为客户提供优良的策划及制作服务／</p>
            <p class="com_infoText">创造出有创意的、切实可行的影片和营销方案，为党政机关、企业及其产品创造良好的视觉</p>
            <p class="com_infoText">内容，提升形象，创造优势，开创美好前景／ </p>
        </div>
        <div class="com_service">
            <p class="video_title about_title no_bottom"><span>公司</span>文化</p>
            <p class="service_title">服务内容</p>
            <ul class="service_box">
                <li class="service01">
                    <img src="{$TEMPLATE_PATH}img/chess_black.png" alt="黑色棋子" class="chess_black">
                    <p class="service_text">企业形象类宣传片</p>
                </li>
                <li class="service02">
                    <img src="{$TEMPLATE_PATH}img/chess_white.png" alt="白色棋子" class="chess_white">
                    <p class="service_text">党政机关类宣传片</p>
                </li>
                <li class="service03">
                    <img src="{$TEMPLATE_PATH}img/chess_black.png" alt="黑色棋子" class="chess_black">
                    <p class="service_text">企业产品类宣传片／官告片</p>
                </li>
                <li class="service04">
                    <img src="{$TEMPLATE_PATH}img/chess_black.png" alt="黑色棋子" class="chess_black">
                    <p class="service_text">能源类企业宣传片</p>
                </li>
                <li class="service05">
                    <img src="{$TEMPLATE_PATH}img/chess_white.png" alt="白色棋子" class="chess_white">
                    <p class="service_text">房地产类宣传片</p>
                </li>
                <li class="service06">
                    <img src="{$TEMPLATE_PATH}img/chess_black.png" alt="黑色棋子" class="chess_black">
                    <p class="service_text">个人形象MV</p>
                </li>
            </ul>
        </div>
        <p class="service_bottomT">河北水木文化传播有限公司专业从事各类宣传片及制作／</p>
        <p class="service_bottomT align_right">致力于创造良好视觉内容，提升形象，创造优势，开创美好前景／</p>
    </div>
<include file="Public/footer" /> 