<include file="Public/header" />
<svg class="hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <filter id="blur">
            <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        </filter>
    </defs>
</svg>
<div class="video_box">
    <img src="{$TEMPLATE_PATH}img/video_ZSBg.png" class="video_zs" alt="视频链接背景装饰">
    <div class="content box">
        <p class="video_title"><span>经典</span>案例链接</p>
        <ul class="video_list01">
            <li>
                <a href="content.html" class="case_href video01">
                    <img src="{$TEMPLATE_PATH}img/casePic03.png" alt="跋山涉水">
                    <img src="{$TEMPLATE_PATH}img/casePic03.png" alt="跋山涉水" class="shadow">
                </a>
            </li>
            <li>
                <a href="content.html" class="case_href video02">
                    <img src="{$TEMPLATE_PATH}img/casePic04.png" alt="THE LOST TOMB">
                    <img src="{$TEMPLATE_PATH}img/casePic04.png" alt="THE LOST TOMB" class="shadow">
                </a>
            </li>
            <li>
                <a href="content.html" class="case_href video03">
                    <img src="{$TEMPLATE_PATH}img/casePic05.png" alt="跋山涉水">
                    <img src="{$TEMPLATE_PATH}img/casePic05.png" alt="跋山涉水" class="shadow">
                </a>
            </li>
        </ul>
        <ul class="video_list02">
            <li>
                <a href="content.html" class="case_href video04">
                    <img src="{$TEMPLATE_PATH}img/videoPic01.png" alt="本草">
                    <img src="{$TEMPLATE_PATH}img/videoPic01.png" alt="本草" class="shadow">
                </a>
            </li>
            <li class="video05">
                <a href="content.html" class="case_href video05">
                    <img src="{$TEMPLATE_PATH}img/videoPic02.png" alt="平安岛">
                    <img src="{$TEMPLATE_PATH}img/videoPic02.png" alt="平安岛" class="shadow">
                </a>
            </li>
        </ul>
        <div class="video_type">
            <p class="type02">视频链接</p>
            <p class="type01">经典案例</p>
        </div>
    </div>
    <div class="content">
        <p class="video_title"><span>其它</span>案例链接</p>
        <table border="0" cellspacing="0" class="video_other">
            <tr>
                <th>海洋故事</th>
                <td>
                    <a href="content.html">1.http://www.youtube.com/watch?v=c6n9NLM65DI&feature=related</a>
                </td>
            </tr>
            <tr>
                <th>玛莎</th>
                <td>
                    <a href="content.html">2.http://www.youtube.com/watch?v=c6n9NLM65DI&feature=related</a>
                </td>
            </tr>
            <tr>
                <th>单车旅记</th>
                <td>
                    <a href="content.html">3.http://www.youtube.com/watch?v=c6n9NLM65DI&feature=related</a>
                </td>
            </tr>
            <tr>
                <th>汤姆巡航</th>
                <td>
                    <a href="content.html">4.http://www.youtube.com/watch?v=c6n9NLM65DI&feature=related</a>
                </td>
            </tr>
        </table>
    </div>

    <include file="Public/footer" /> 