
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1483767596933'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1483767596933#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1483767596933') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1483767596933') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1483767596933#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:58px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e60a"; }

.icon-gongju:before { content: "\e609"; }

.icon-right:before { content: "\e613"; }

.icon-left:before { content: "\e62d"; }

.icon-add:before { content: "\e626"; }

.icon-singal-weibo:before { content: "\e615"; }

.icon-search:before { content: "\e654"; }

.icon-erweima:before { content: "\e610"; }

.icon-eye:before { content: "\e697"; }

.icon-singal-weixin:before { content: "\e64b"; }

.icon-user:before { content: "\e6e8"; }

.icon-weibo:before { content: "\e61e"; }

.icon-msnui-market:before { content: "\e68a"; }

.icon-shijian:before { content: "\e6fb"; }

.icon-zhanghuguanli:before { content: "\e63c"; }

.icon-wenhuayishu:before { content: "\e8e1"; }

.icon-qq:before { content: "\e618"; }

.icon-zixun:before { content: "\e60c"; }

.icon-lvyou:before { content: "\e6e7"; }

.icon-shishangdaren:before { content: "\e635"; }

.icon-dianhua:before { content: "\e669"; }

.icon-qiche:before { content: "\e661"; }

.icon-art02-alt:before { content: "\e627"; }

.icon-page-last:before { content: "\e611"; }

.icon-run:before { content: "\e60b"; }

.icon-toutiao:before { content: "\e60d"; }

.icon-keji:before { content: "\e701"; }

.icon-toTop:before { content: "\e608"; }

.icon-car:before { content: "\e63f"; }

.icon-stroke_weibo:before { content: "\e702"; }

.icon-shequ:before { content: "\e602"; }

.icon-paimai:before { content: "\e628"; }

.icon-stroke_weixin:before { content: "\e616"; }

.icon-meishi:before { content: "\e614"; }

.icon-2:before { content: "\e60f"; }

.icon-pindao:before { content: "\e60e"; }

.icon-yunying:before { content: "\e604"; }

.icon-boshiHat:before { content: "\e65c"; }

.icon-home:before { content: "\e601"; }

.icon-strokeUser:before { content: "\e603"; }

.icon-money:before { content: "\e605"; }

.icon-searchMoney:before { content: "\e606"; }

.icon-page-first:before { content: "\e612"; }

.icon-shou:before { content: "\e607"; }

.icon-stroke_phone:before { content: "\e617"; }

.icon-dianying:before { content: "\e619"; }

.icon-shield:before { content: "\e61a"; }

.icon-cunqianguan:before { content: "\e61b"; }

.icon-dingyue:before { content: "\e61c"; }
